
.app-container {
  display: flex; /* แบ่ง layout ออกเป็น 2 ส่วน */
  min-height: 100vh; /* สูงเต็มหน้าจอ */
}

/* Navbar ด้านซ้าย */
app-navbar {
  width: 220px;          /* ความกว้างของ sidebar */
  background: #fff;      /* สีพื้นหลัง */
  color: #fff;
  flex-shrink: 0;        /* ไม่ให้หด */
  padding: 15px;
  box-sizing: border-box;
}

/* เนื้อหาหลัก */
.main-content {
  flex: 1;               /* กินพื้นที่ที่เหลือ */
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: auto; 
}

/* Responsive Ipad mini ไม่รองรับ*/

/* Responsive: จอเล็กให้ navbar ขึ้นไปอยู่บน */
@media (max-width: 768px) {
  .app-container {
    flex-direction: column; /* จาก row → column */
  }

  app-navbar {
    width: 100%; /* Navbar เต็มจอด้านบน */
  }

  .main-content {
    width: 100%;
  }
}
