<div class="card">
  <h2>ตั้งรหัสผ่านใหม่</h2>

  <div *ngIf="!token" class="warn">ไม่พบ token ในลิงก์</div>

  <form [formGroup]="form" (ngSubmit)="submit()" *ngIf="token">
    <!-- <form [formGroup]="form" (ngSubmit)="submit()" > -->
    <label>รหัสผ่านใหม่</label>
    <input type="password" formControlName="newPassword" placeholder="รหัสผ่านใหม่" />
    <label>ยืนยันรหัสผ่าน</label>
    <input type="password" formControlName="confirmPassword" placeholder="ยืนยันรหัสผ่าน" />
    <button type="submit" [disabled]="loading || form.invalid">ยืนยัน</button>
  </form>

  <p *ngIf="msg" class="msg">{{ msg }}</p>
</div>
