<div class="reset-container">
  <div class="reset-box">
    <div class="reset-left">
      <h1>Hello, Reset your Password!</h1>
      <p>PCCTH Automate Code Review.</p>
    </div>

  <!-- <div *ngIf="!token" class="warn">ไม่พบ token ในลิงก์</div> -->

  <!-- <form [formGroup]="form" (ngSubmit)="submit()" *ngIf="token"> -->
    <div class="reset-right">
      <h2>Reset Password</h2>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <label>new password</label>
        <input type="password" formControlName="newPassword" placeholder="new password" />
        <label>confirm password</label>
        <input type="password" formControlName="confirmPassword" placeholder="confirm password" />
        <button type="submit" [disabled]="loading || form.invalid">confirm</button>
      </form>
      <p *ngIf="msg" class="msg">{{ msg }}</p>
    </div>
  </div>
</div>
