<div class="login-container">
    <div class="login-box">
  
      <div class="login-header">
        <a routerLink="/" class="back-btn">
          <i class="bi bi-arrow-left"></i>
        </a>
        <h2>Login</h2>
      </div>
  
      <form (ngSubmit)="onSubmit()">
        <div class="input-group">
          <label for="email">Email</label>
          <input type="email" [(ngModel)]="email" name="email" required />
        </div>
  
        <div class="input-group">
          <label for="password">Password</label>
          <input type="password" [(ngModel)]="password" name="password" required />
        </div>
  
        <button type="submit">Login</button>
      </form>
  
      <div class="extra-links">
        <p>
          Don't have an account? 
          <a [routerLink]="['/register']">Register</a>
        </p>
      </div>
    </div>
  </div>
  